h1 Welcome to Kenziegram!
form(action='/upload' enctype='multipart/form-data' method='POST')
  input(type='file' name='myFile')
  input(type='submit' value='Upload a file')
each image in imgsrc
  img(src= image)